<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="Magento\Quote\Model\QuoteValidator" type="Consnet\QuoteExtended\Model\QuoteValidator"/>                             
    <preference for="Magento\Quote\Model\Quote\Address\Total\Subtotal" type="Consnet\QuoteExtended\Model\Quote\Address\Total\Subtotal"/>                             
</config> 