/** 
-this module it cleean up admin side using css most of the block that are 
note needed are hidden using css

1. Cleaning up customer
*/
#tab_address, .admin__page-nav-link{
    display: none;
}
#tab_wishlist_content, .admin__page-nav-link{
    display: none;
}
#tab_giftregistry_content, .admin__page-nav-link{
    display: none;
}
#tab_giftregistry_content, .admin__page-nav-link{
    display: none;
}
#tab_newsletter_content, .admin__page-nav-link{
    display: none;
}
#tab_reviews_content, .admin__page-nav-link{
    display: none;
}
#tab_customer_edit_tab_reward_content, .admin__page-nav-link{
    display: none;
}                              
#tab_customer_edit_tab_agreements_content, .admin__page-nav-link{
    display: none;
}
#tab_customer_edit_tab_rma_content, .admin__page-nav-link{
    display: none;
}
#customer-delete-button{
    display: none;
}
#tab_customer_edit_tab_rma_content, .admin__page-nav-link{
    display: none;
}
#order_invoice, .action-default .scalable .invoice{
    display: none;
}

#send_notification, .action-default .scalable .send-email{
    display: none;
}
#tab_customerbalance_content, .admin__page-nav-link{
    display: none;
}
/**----------------------------------Orders---------------------------------- 
.order-view-billing-shipping{
  display: none;
}*/
#sales_order_view_tabs_order_shipments{
    display: none;
}
#sales_order_view_tabs_order_invoices{
    display: none;
}
#sales_order_view_tabs_order_history{
    display: none;
}
#edit-order-comments-block-title{
    display: none;
}
#sales_order_view_tabs_order_creditmemos{
    display: none;
}
.order-methods-overlay{
    display: none;
}
.order-discounts{
    display: none;
}
.row-gift-options{
    display: none;
}
.page-header{
    background: #093260 !important;
}
.page-title {
    color: #ece9e7 !important;
}
.page-actions {
    background: #093260 !important;
}
.page-main-actions .page-actions._fixed .page-actions-inner::before {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    color: #f3f2f1 !important;
    content: attr(data-title);
    float: left;
    font-size: 2.8rem;
    margin-top: .3rem;
    max-width: 50%;
}
.abs-action-quaternary, .page-actions > button, .page-actions .page-actions-buttons > button, .page-actions .page-actions-buttons > .action, .page-actions > .block-footer .action-add, .page-actions .page-actions-buttons > .block-footer .action-add {
    background-color: transparent;
    border-color: transparent;
    text-shadow: none;
    color: #d7d8d8 !important;
}

.jumbotron{
    padding-top:30px;
    padding-bottom:30px;
    margin-bottom:30px;
    color:inherit;
    background-color:#eee;
}
.jumbotron .h1,.jumbotron h1{
    color:inherit
}
.jumbotron p{
    margin-bottom:15px;
    font-size:21px;font-weight:200
}
.jumbotron>hr{
    border-top-color:#d5d5d5
}
.container .jumbotron,.container-fluid .jumbotron{
    padding-right:15px;
    padding-left:15px;
    border-radius:6px
}
.jumbotron .container{
    max-width:100%
}
@media screen and (min-width:768px){
    .jumbotron{
        padding-top:48px;
        padding-bottom:48px
    }
    .container .jumbotron,.container-fluid .jumbotron{
        padding-right:60px;
        padding-left:60px}
    .jumbotron .h1,.jumbotron h1{
        font-size:63px
    }
}
#dash{
  text-align:center;
  padding:40px;
  background:url(../img/cch2025.jpg) no-repeat; 
  background-size:cover;
  width: 100%;
  height: 400px;
}

#admin-dashboard .jumbotron{
  border-radius:20px;
  padding:10px;
  background:rgba(255,255,255,0.75);
  margin:0 auto;
}
#admin-header{
    font-size: 40pt;
}
#admin-text{
  text-align:justify;
  font-family: 16pt;
}

@media (max-width:600px){
  #admin-dashboard{
    padding:20px;
    width:98%;
  }
  #dash{
    text-align:center;
    padding:10px;
    background:url(../img/Call-Centre-img-royalty-free.jpg) no-repeat;
    background-size:cover;
    width: 100%;
    }
    #admin-header{
      font-size: 25pt;
    }
    #admin-text{
    text-align:justify;
    font-family: 11pt;
    }
}