<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="Magento\Backend\Block\Widget\Grid\ColumnSet" type="Consnet\CustomerFilter\Block\Widget\Grid\ColumnSet" />
    <preference for="Magento\Theme\Block\Html\Title" type="Consnet\CustomerFilter\Block\Html\Title" />
    <preference for="Magento\Sales\Block\Adminhtml\Order\View\Items\Renderer\DefaultRenderer" type="Consnet\CustomerFilter\Block\Adminhtml\Order\View\Items\Renderer\DefaultRenderer" />
    <preference for="Magento\Sales\Block\Adminhtml\Order\View\Items" type="Consnet\CustomerFilter\Block\Adminhtml\Order\View\Items" />
    <preference for="Magento\Customer\Controller\Account\ResetPasswordPost" type="Consnet\CustomerFilter\Controller\Account\ResetPasswordPost" />
  
</config>