.dashboard-store-stats{
  border-right: 0.2rem solid #CAAA66;
  border-left: 0.2rem solid #CAAA66;
  border-bottom: 0.2rem solid #CAAA66;
}
.dashboard-store-stats .ui-tabs {
  margin-bottom: 0;
  position: relative;
}
.dashboard-store-stats .ui-tabs:before {
  background-color: #093260;
  height: 4.8rem;
  position: absolute;
  right: 0;
  top: 0;
  width: 2rem;
}
.dashboard-store-stats .ui-tabs-panel {
  background: url(../images/ajax-loader-small.gif) no-repeat 50% 50%;
  min-height: 4.5rem;
}
.dashboard-store-stats .tabs-horiz {
  border-right: 1px solid #093260;
  float: left;
  overflow-x: auto;
  white-space: nowrap;
  width: 100%;
  background-color: #093260;
}
.dashboard-store-stats .tabs-horiz .ui-state-default {
  display: inline-block;
  float: none;
  margin-right: .1rem;
}
.tabs-horiz {
  margin: 0;
  padding: 0;
}
.tabs-horiz .ui-state-default {
  background: #093260;
border: 0.1rem solid #1c2b98;
  float: left;
  letter-spacing: .0183em;
  list-style: none;
  margin-right: .4rem;
}
.tabs-horiz .ui-state-hover {
  background: #d6d6d6;
}
.tabs-horiz .ui-state-active {
  background: #ffffff;
  border-bottom: 0;
  font-weight: 600;
  letter-spacing: normal;
  margin-bottom: -.1rem;
}

.tabs-horiz .ui-state-active .ui-tabs-anchor {
  border-bottom: 0.1rem solid #ffffff;
  border-top: 0.4rem solid #CAAA66;
  padding-top: 1.1rem;
}
.tabs-horiz .ui-tabs-anchor {
 color: #CAAA66;
  display: block;
  padding: 1.5rem 1.8rem 1.3rem;
  text-decoration: none;
}
.tabs-horiz .ui-tabs-anchor:hover {
  color: #41362f;
  text-decoration: none;
}
.ui-tabs-panel {
  margin-top: -1px;
  padding: 2rem;
}
.page-layout-1column .block.widget .products-grid .product-item {
    margin-left: calc((100% - 5 * (100%/6)) / 4);
    width: 15.667% !important;
  }
@media (max-width: 767px) {
    .page-layout-1column .block.widget .products-grid .product-item {
        margin-left: calc((100% - 5 * (100%/6)) / 4);
        width: 45% !important;
      }
}  