<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">

    <preference for="Magento\Customer\Controller\Account\LoginPost" type="Consnet\Customer\Controller\Account\LoginPost" />
    <preference for="Magento\Customer\Controller\Account\Index" type="Consnet\Customer\Controller\Account\Index" />
    <preference for="Magento\Customer\Controller\Account\Create" type="Consnet\Customer\Controller\Account\Create" />
    <preference for="Magento\Customer\Block\Account\Dashboard\Index" type="Consnet\Customer\Block\Account\Dashboard\Index" />
    <preference for="Magento\Customer\Block\Account\Dashboard\Info" type="Consnet\Customer\Block\Account\Dashboard\Info" />
    <preference for="Magento\Customer\Block\Form\Login" type="Consnet\Customer\Block\Form\Login" />
    <preference for="Magento\Customer\Block\Account\AuthorizationLink" type="Consnet\Customer\Block\Account\AuthorizationLink" />
    <preference for="Magento\Customer\Model\AccountManagement" type="Consnet\Customer\Model\AccountManagement" /> 
    
    
   <!-- <preference for="Magento\Customer\Controller\Account\LogoutSuccess" type="Delta\Customer\Controller\Account\LogoutSuccess" /> -->
</config>
