<?xml version="1.0"?>
<!--
/**
 * Created by wilson.sun330@gmail.com
 * Date: 13/05/2015
* Time: 5:02 PM
*/
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="../../../../../lib/internal/Magento/Framework/ObjectManager/etc/config.xsd">
    <preference for="Magento\Contact\Block\ContactForm" type="Consnet\Contact\Block\ContactForm" />
    <preference for="Magento\Contact\Controller\Index\Index" type="Consnet\Contact\Controller\Index\Index" />
    <preference for="Magento\Contact\Controller\Index\Post" type="Consnet\Contact\Controller\Index\Post" />
    <preference for="Magento\Contact\Helper\Data" type="Consnet\Contact\Helper\Data" />
   
</config>